@charset "UTF-8";

.wrapper{overflow: hidden;}
#container-new {width: 100%;position: relative;}
h2{font-size: 40px;font-weight: 700;}
body{overflow: auto; min-width:330px;}
body.noScroll{overflow: hidden;}

/* HEADER */
#header-new{position:fixed; top:0; left:0; width:100%; background:#fff; z-index:105;}
#header-new .inner{width: 94%;max-width: 1440px;margin: 0 auto;height: 100%;}
.header-top-new{ height: 32px;background-color: #edf1f5;color: #333;}
.header-top-new .nuri-text{display: flex;align-items: center;height: 100%;font-size: 13px;padding-left: 37px;background: url("../images/commonNew/img_header_flag.png") no-repeat 0 center;}
.header-banner{position: relative;overflow: hidden;box-sizing: border-box;}
.header-banner .swiper-wrapper{height: 100% !important;}
.header-banner .swiper-slide a{display: block;}
/* 260223 웹접근성 (yz) */
.header-banner .swiper-slide a:focus-visible img{outline: 3px solid; outline-offset: -3px;}
.header-banner .swiper-slide a img{width: 100%;}
.header-banner .swiper-slide a img.pc{display: block;aspect-ratio: 30 / 1;max-height: 65px;}
.header-banner .swiper-slide a img.mobile{display: none;}
.header-banner .swiper-controller{position: absolute;top: 50%;right: 85px;transform: translateY(-50%);display: flex;align-items: center;z-index: 1;}
.header-banner .swiper-controller .pagination-new{padding: 0px 10px;width: auto; background-color: #fff;border: 1px solid #CDD1D5;border-radius: 100px;font-size: 16px;box-sizing: border-box;}
.header-banner .swiper-controller .pagination-new .swiper-pagination-current{color: #163ECA;font-weight: 600;}
.header-banner .swiper-controller .swiper-pagination-bullet{width: 8px;height: 8px;background-color: #6D7882;border-radius: 100px;vertical-align: top;opacity: 1;}
.header-banner .swiper-controller .swiper-pagination-bullet-active{width: 20px;background-color: #256EF4;}
.header-banner .swiper-controller .btn-box{display: inline-block;font-size: 0;}
.header-banner .swiper-controller button{display: inline-block;margin-left: 8px;width: 24px;height: 24px;background-color: #fff;background-position: center;background-repeat: no-repeat;background-size: 16px;border-radius: 50px;border: 1px solid #CDD1D5;box-sizing: border-box;}
.header-banner .swiper-controller button.btn-prev{background-image: url(../images/common/ico-pg-prev-g.svg);}
.header-banner .swiper-controller button.btn-next{background-image: url(../images/common/ico-pg-next-g.svg);transform: rotate(0deg);}
.header-banner .swiper-controller button.btn-stop{background-image: url(../images/common/ico-pause-g.svg);}
.header-banner .swiper-controller button.btn-stop.active{background-image: url(../images/common/ico-play-g.svg);}
.header-banner .swiper-controller button.close{margin-left: 20px;width: 40px;height: 40px;background-color: transparent;background-image: url(../images/common/ico-m-close-w.svg);background-size: 40px;border-radius: 0;border: 0;}
.header-banner button.close{margin-left: 100px;width: 40px;height: 40px;background-color: transparent;background-image: url(../images/common/ico-m-close-w.svg);background-position: center;background-size: 40px;border-radius: 0;border: 0;z-index: 1;}

.header-bottom-new {z-index: 10;box-sizing: border-box;width: 100%;height: 100px;top: 0;left: 0;background-color: #fff;}
.header-bottom-new .inner{justify-content: space-between;align-items: center;gap: 80px;}
.logo-box {transition: 0.3s ease;display: inline-block;}
.logoNew {display: block;width: 160px;height: 80px;background: url("../images/commonNew/logo.png") no-repeat center;background-size: cover;text-indent: -99999px;background-size: contain;transition: 0.2s ease;}
.srch-wrap{position: absolute;width: 100%; max-width: calc(100% - 550px);left: 200px;top: 50%;transform: translateY(-50%);z-index: 9;}
.srch-wrap .inp-box{display: inline-block;width: calc(100% - 64px);}
.srch-wrap .inp{width: calc(100%);height:48px; padding:8px 16px; padding-left: 56px;padding-right: 35px;font-size: 17px;border: 1px solid #0B50D0;}
.srch-wrap .inp-wrap .inp-box .inp-search-icon{position:absolute; left:16px; top:50%; transform:translateY(-50%); width:32px; height:32px;background: url(../images/common/ico_search_blue.svg)center no-repeat; background-size:contain; pointer-events:none; }
.srch-wrap .inp::placeholder{color: #8A949E;}

.srch-wrap .inp-wrap{position: relative;font-size: 0;}
.srch-wrap .inp-wrap .btn-srch{display: inline-block;margin-left: 16px;width: 48px;height: 48px;background: #256EF4 url(../images/common/ico_search_w.svg)center no-repeat;background-size:50%;border-radius: 6px;transition: .2s;}
.srch-wrap .inp-wrap .btn-srch:hover{background-color: #0B50D0;}

.srch-wrap .history-area{display: none;position: absolute;top: 58px;width: 100%;background-color: #fff;z-index: 1;}
.srch-wrap .history-area.active{display: block;}
.srch-wrap .history-area > div{display: flex;width: 100%;min-height: 313px;border: 1px solid #0B50D0;border-radius: 6px;}
.srch-wrap .history-area .tit{margin-bottom: 10px;font-size: 19px;font-weight: 700;text-align: left;}
.srch-wrap .history-area .center{text-align: center;}
.srch-wrap .history-area .center p{margin: 20px 0;font-size: 15px;line-height: 150%;color: #464C53;}
.srch-wrap .history-area .go-to-login{padding: 6px 12px;padding-left: 32px;margin: 0 auto;background: #fff url(../images/common/ico-login.svg)left 12px center no-repeat;background-size:  16px;border: 1px solid #163ECA;border-radius: 20px;color: #464C53;}
.srch-wrap .history-area .left{padding: 20px;width: calc(100% - 230px);}
.srch-wrap .history-area .trend-box{padding-bottom: 20px;}
.srch-wrap .history-area .trend-box .num{position: absolute;left: 0;top: 1px;font-weight: 700;color: #0B50D0;}
.srch-wrap .history-area .trend-box .rank{position: absolute;right: 0;;margin-left: 28px;padding-right: 22px;background-position: right center;background-repeat: no-repeat;background-size: 12px 12px;color: #1E2124;}
.srch-wrap .history-area .trend-box .rank.down{background-image: url(../images/common/ico-arr-block-b.svg);}
.srch-wrap .history-area .trend-box .rank.stay{background-image: url(../images/common/ico-rank.svg);}
.srch-wrap .history-area .trend-box .rank.up{background-image: url(../images/common/ico-arr-block-r.svg);}

.srch-wrap .history-area .history-box{padding-top: 20px;border-top:  2px dashed #767676;}
.srch-wrap .history-area .history-box .item-list .item{padding-left: 0;}
.srch-wrap .history-area .right{padding: 20px;width: 230px;background-color: #F4F5F6;border-radius: 0 6px 6px 0;}
.srch-wrap .history-area .right .list{}
.srch-wrap .history-area .right .list li{display: flex;font-size: 13px;}
.srch-wrap .history-area .right .list li + li{margin-top: 10px;}
.srch-wrap .history-area .right .list .num{margin-right: 8px;color: #0B50D0;}
.srch-wrap .history-area .right .list a{display: block;width: 150px;width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.srch-wrap .history-area .item-list{margin-bottom: 10px;text-align: right;}
.srch-wrap .history-area .item-list .item{position: relative;padding-left: 15px;padding-right: 20px;margin: 4px 0;font-size: 15px;color: #464C53;text-align: left;}
.srch-wrap .history-area .item-list .item a{width: 100%;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

.btn-delete {position: absolute;right: 0;bottom: 50%;transform: translateY(50%);width: 16px;height: 16px;background: #CDD1D5 url(../images/common/ico-m-close.svg) no-repeat;background-size: 12px;background-position: center center;border-radius: 100px;}
.btn-delete.all{display: inline-block;position: static;margin-top: 10px;width: auto;height: auto;background: none;border: 0;font-size: 15px;color: #464C53;transform: translateY(0%);}

.srch-wrap .keyword-wrap{display: flex;gap: 16px;margin-top: 5px;}
.srch-wrap .keyword-wrap > p{word-break: keep-all;margin-top: 4px}
.srch-wrap .keyword-wrap .item{display: flex;width: calc(100% - 150px);}

.srch-wrap input:-webkit-autofill,
.srch-wrap input:-webkit-autofill:hover,
.srch-wrap input:-webkit-autofill:focus,
.srch-wrap input:-webkit-autofill:active{
  -webkit-text-fill-color: #000;
  transition:background-color 9999s ease-in-out 0s;
  box-shadow: 0 0 0px 10000px transparent inset;
}

/* 자동완성 */
.inp-box .autocomplete-list{position:absolute;top: 56px;left: 0;right: 0;border-radius:6px;box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.08);border: 1px solid #b1b6bd;padding: 24px;background-color: #fff;z-index: 100;}
.inp-box .autocomplete-list li + li{margin-top:16px;}
.autocomplete-list li:hover {background-color:#f5f7fa; color:#0b50d0; font-weight: 500;}
.inp-box .autocomplete-list li font{font-size: 16px !important;}

.keyword-wrap .item .num{margin-right: 14px;color: #0B50D0;}
.keyword-wrap .item a{overflow: hidden;width:100%;text-overflow: ellipsis;white-space: nowrap;}
.keyword-wrap .item .rank{padding-right: 22px;background-position: right center;background-repeat: no-repeat;background-size: 12px 12px;color: #1E2124;}
.keyword-wrap .item .rank.down{background-image: url(../images/common/ico-arr-block-b.svg);}
.keyword-wrap .item .rank.stay{background-image: url(../images/common/ico-rank.svg);}
.keyword-wrap .item .rank.up{background-image: url(../images/common/ico-arr-block-r.svg);}

.keyword-box{position:relative;height:32px;overflow: hidden;}
/* .keyword-wrap{position: relative;height: 100%;} */
.keyword-wrap > div {position: absolute;left:85px;width:100%;height:32px;line-height: 32px;transform: translateY(100%);opacity: 0;transition: transform 0.4s ease, opacity 0.4s ease;}
.keyword-wrap > div.active {transform: translateY(0);opacity: 1;}
.keyword-wrap > div.exit {transform: translateY(-100%);opacity: 0;}

.util-new{display: flex;justify-content: right;padding-top: 8px;}
.util-new li.join{position: relative;margin-left: 17px;}
.util-new li.join::before{content: '';position: absolute;left: -9px;top: 50%;transform: translateY(-50%);width: 1px;height: 18px;background-color: #AAAAAA;}
.util-new a{display: block;padding: 18px 12px;font-size: 16px;color: #1E2124;}
.util-new .icon{display: block;margin: 0 auto;margin-bottom: 8px;width: 20px;height: 20px;background-position: center;background-repeat: no-repeat;}
.util-new .login-new .icon{background-image: url(../images/common/ico-login.svg);}
.util-new .logout .icon{background-image: url(../images/common/ico-logout.svg); transform: rotate(-180deg);}
.util-new .join .icon {background-image: url(../images/common/ico24_jobfind_plus.svg);}
.util-new .all-menu{display: none;padding: 0;background-color: transparent;font-size: 13px;font-weight: 400;}
.util-new > li.time{display:flex; gap:0 8px; line-height:18px;align-items: center;}
.util-new > li.time > span{position:relative;font-size:15px;line-height:20px;color:#163ECA;min-width:63px}
.util-new > li.time a{background-position:left center; background-image:url(../images/common/ico_refresh.svg);background-repeat:no-repeat; background-size:0 0;font-size:15px;line-height:inherit;padding:3px 7px;border:1px solid #ddd;border-radius:4px}
.util-new > li#timeOut{min-width:55px}

.util-new .all-menu .icon{background-image: url(../images/common/ico-menu.svg);}
#header-new .nav-wrap{position: relative;display: flex;width: 100%; background-color: #fff;z-index: 9;}
#header-new .nav-wrap.open {display: none;}
#header-new .logoBox-wrap{width: 100%;display: flex}
#header-new .all-menu { display: none; width: 40px;height:20px; background-image: url(../images/common/ico-m-menu.svg);background-repeat:no-repeat;z-index: 10;}
#header-new .util-new-wrap{padding-right: 28px;position: absolute;right: -50px;}

/* pc gnb */
.gnb-wrap{position: absolute;right: 0;bottom: 0%;z-index: 1;}

.gnb-wrap .gnb{}
.gnb-wrap .gnb a{display: block;}
.gnb-wrap .gnb .depth1{display: flex;justify-content: end;}
.gnb-wrap .gnb .depth1-item > a{padding: 13px 12px;width: auto;text-align: center;font-size: 19px;padding-bottom: 34px;}
.gnb-wrap .gnb .depth1-item > a i{display: inline-block;margin-left: 8px;width:  20px;height: 20px;background: url(../images/common/ico-arr_g.svg)no-repeat center;vertical-align: middle;transition: .2s ease;}
.gnb-wrap .gnb .depth1-item.active i{background-image: url(../images/common/ico-arr-over.svg);}
.gnb-wrap .gnb .depth1-item:hover > a{color: #0B50D0;}
.gnb-wrap .gnb .depth1-item{}
.gnb-wrap .gnb .depth1-item:hover .depth2{}
.gnb-wrap .gnb .depth2{position: absolute;z-index: 10;background-color: #fff;width: 50%;border-top: 1px solid #CDD1D5;padding-top: 16px; /* 251219 (ej) */}
.gnb-wrap .gnb .depth2.active{display: block;}
.gnb-wrap .gnb .depth2-item{}
.gnb-wrap .gnb .depth2-item + .depth2-item{margin-top: 8px;}
.gnb-wrap .gnb .depth2-item > a{padding: 10px 8px;width: max-content;min-height: 46px;font-size: 17px;}
.gnb-wrap .gnb .depth2-item > a:hover{color: #163ECA;}

.dim{display: none;position: absolute;left: 0;right: 0;height: 294px;background-color: #fff;box-shadow: 0px 10px 10px 0px #0000001A;}
.dim.active{display: block;}

.gnb .depth2, .gnb .depth3 {display: none;position: absolute;}
.gnb li.active > .depth2, .gnb .depth2-item.active > .depth3 {display: block;}

/* mobile gnb */
.mobile-gnb-wrap{display: none;position: fixed;width: 100%;height: 100vh;left: 0;right: 0;top: 0;bottom: 0;background-color: #fff;box-shadow: 0px 4px 4px 0px #00000040;z-index: 4;}
.mob-util {display:none;}
.mobile-gnb { overflow-y: auto; height: 100vh;}
.mobile-gnb-wrap.open{display: block;}
.mobile-info{display: block;padding: 20px 24px;width: 100%;background-color: #ddd;background: url(../images/common/ico-login.svg) left 24px center no-repeat;border-bottom: 4px solid #E4E4E4;background-size: 20px;font-size: 17px;font-weight: 700;}
.mobile-info .login-new{padding: 14px;padding-left: 0;}
.mobile-info .login-new::before{content: '';display: inline-block;margin-right: 8px;margin-top: -4px;width: 20px;height: 20px;background: url(../images/common/ico-login.svg)center no-repeat;vertical-align: middle;}
.mobile-close{position: absolute;padding: 0;right: 24px;top: 80px;display: block;width: 20px;height: 20px;background-color: #ddd;background: transparent url(../images/common/ico-m-close.svg)center no-repeat;background-size: 24px;font-size: 14px;font-weight: 700;font-size: 0;}
.mobile-gnb .gnb{padding-bottom: 30px;}
.mobile-gnb .gnb .depth1{}
.mobile-gnb .gnb .depth1-item.is-expanded{padding-bottom: 10px;}
.mobile-gnb .gnb .depth1-item > a{position: relative;display: block;width: 100%;padding: 24px 24px 16px;font-size: 1.2rem;font-weight: 700;border-bottom: 1.5px solid #8E8E8E;}
.mobile-gnb .gnb .depth1-item > a i{position: absolute;right: 32px;display: inline-block;margin-left: 8px;width:  20px;height: 20px;background: url(../images/common/ico-arr_g.svg)no-repeat center;background-size:150%;vertical-align: middle;transition: .2s ease;}
.mobile-gnb .gnb .depth1-item > a.active{color: #163ECA;}
.mobile-gnb .gnb .depth1-item > a.active i{background: url(../images/common/ico-arr-over.svg)no-repeat center;background-size:150%;}

.mobile-gnb .gnb .depth2{position: static;display: none;width: 100%;}
.mobile-gnb .gnb .depth2-item > a{position: relative;padding: 20px 26px 10px; display: block; height: 100%; font-size: 1.05rem; font-weight:600;}
.mobile-gnb .gnb .depth2-item > a::before{content: '';position: absolute;left: 24px;right: 24px;bottom: 0;height: 1px;background-color: #D8D8D8;}
.mobile-gnb .gnb .depth2-item > span{ position: relative; padding: 20px 26px 10px; display: block; height: 100%;font-size: 1.05rem;font-weight:600;}
.mobile-gnb .gnb .depth2-item > span::before{ content: ''; position: absolute; left: 24px; right: 24px; bottom: 0; height: 1px;background-color: #D8D8D8;}
.mobile-gnb .gnb .depth2-item > a:active{color: #163ECA;}
.mobile-gnb .gnb .depth2-item > a:active::before{height: 3px;background-color: #163ECA;}

.mobile-gnb .gnb .depth3-item > a{padding: 14px 30px 2px;display: block;height: 100%; font-size: 1rem;}
.mobile-gnb .gnb .depth3-item > a::hover{background-color:#153ECA;}
.mobile-gnb .gnb .depth3-item > a::before{content: '';position: absolute; left: 24px; right: 24px; bottom: 0; height: 1px; background-color: #D8D8D8;}
.mobile-gnb .gnb .depth3-item > a:active{color: #163ECA;}
.mobile-gnb .gnb .depth3-item > a:active::before{height: 3px; background-color: #163ECA;}

.mobile-gnb .gnb .depth1-item > a.active + .depth2{display: block;}
.mobile-quickmenu{display: none;}

/* footer */
.footer-new{border-top: 1px solid #ddd;}
.footer-new .inner{padding: 20px 0 24px;}
.footer-new .logoNew{display: block;width: 160px;height: 100px;}
.footer-new .footer-top-new{margin-top: 40px; position: relative;}
.footer-new .footer-top-new .wa{position: absolute;right: 0;top: 0;}
.footer-new .info{margin-top: 20px;}
.footer-new .info li{display: flex;font-size: 17px;}
.footer-new .info li + li{margin-top: 16px;}
.footer-new .link-list{margin-top: 16px;display: flex;gap: 8px;}
.footer-new .link-list.pc{}
.footer-new .link-list.mobile{display: none;}
.footer-new .footer-top-new .bold {margin-right: 8px;font-weight: 700;color: #1E2124;}
.footer-new .footer-top-new .bold + a {margin-right: 8px;color: #1E2124;padding-right: 8px;position: relative;} /* 251219 (ej) */
.footer-new .footer-top-new .bold + a::before {content: '';display: inline-block;width: 1px;height: 10px;background-color: #1E2124;position: absolute;right: 0;top: 50%;transform: translateY(-50%);} /* 251219 (ej) */
.footer-new .link-list .blue {color: #052B57;font-weight: 700;}
.footer-new .footer-bottom-new{margin-top: 40px;display: flex;gap: 28px;}
.footer-new .footer-bottom-new a{font-size: 0;}
.footer-new .footer-bottom-new li{position: relative;}
.footer-new .footer-bottom-new li + li::before{content: '';position: absolute;left: -14px;top: 50%;transform: translateY(-50%);width: 1px;height: 16px;background-color: #DDDDDD;}
.footer-new .footer-bottom-new a{display: block;}
.footer-new .footer-bottom-new a img{display: inline-block;height: 25px;vertical-align: middle;}
.footer-new .footer-bottom-new .new-tab{display: inline-block;margin-left: 6px;width: 16px;height: 16px;background: url(../images/common/ico_share_gray.svg)center no-repeat;background-size: 16px;vertical-align: middle;}
.footer-new .copyright-new{display: flex;justify-content: space-between;padding-top: 16px;margin-top: 40px;border-top: 1px solid #CDD1D5;font-size: 15px;color: #464C53;}
.footer-new .copyright-new p{display: block;padding: 13px 0;}

.footer-new .family-site-wrap {position: relative;right: 0;z-index: 1;position: absolute;right: 0;bottom: 24px;}
.footer-new .family-site-wrap .family-site-new {width: 360px;display: inline-block;}
.footer-new .family-site-wrap .family-site-button {overflow: hidden;width: 100%;display: block;background-color: #fff;padding: 11px 44px 11px 16px;border: 1px solid #58616A;font-size: 17px;text-align: left;color: #464C53;border-radius: 6px;position: relative;transition: 0.3s ease;}
.footer-new .family-site-wrap .family-site-button::before {content: "";display: inline-block;width: 45px;height: 100%;position: absolute;right: 0;transition: 0.3s ease;top: 0;}
.footer-new .family-site-wrap .family-site-button::after {content: "";display: inline-block;width: 20px;height: 20px;position: absolute;right: 13px;top: 50%;transform: translateY(-50%);background: url("../images/common/ico-arr_g.svg") no-repeat center;transition: 0.3s ease;}
.footer-new .family-site-wrap .family-site-button.active {background-color: #EEF2F7;}
.footer-new .family-site-wrap .family-site-button.active::after {transform: translateY(-50%) rotate(-180deg);}
.footer-new .family-site-wrap .family-site-list {background-color: #fff;border-radius: 6px;overflow: hidden;border: 1px solid #ddd;position: absolute;bottom: 100%;margin-bottom: 10px;overflow-y: auto;left: 0;display: none;width: 100%;max-height: 300px;font-size: 17px;}
.footer-new .family-site-wrap .family-site-list li {border-top: 1px solid #ddd;}
.footer-new .family-site-wrap .family-site-list li:first-child {border-top: 0;}
.footer-new .family-site-wrap .family-site-list a {display: block;padding: 13px;transition: 0.3s ease;}
.footer-new .family-site-wrap .family-site-list a:hover {background-color: #EEF2F7;text-decoration: underline;}
.footer-new .family-site-wrap .family-site-list.active {display: block;}

@media screen and (max-width: 1650px){
.header-banner .swiper-controller{right: 60px;}
.header-banner .swiper-controller
.gnb-wrap .gnb .depth1-item > a{padding: 13px 10px;padding-bottom: 34px;}
button.close{margin-left: 40px;width:  20px;height: 20px;background-size: 36px;}
}

@media screen and (max-width: 1400px){
.header-bottom-new{height: 100px;}
.srch-wrap{top: 10px; transform: translateY(0);}
.gnb-wrap{width: 100%;}
.gnb-wrap .gnb .depth1-item{width: 100%;}
.gnb-wrap .gnb .depth1-item > a{padding-bottom: 20px;}
}

@media screen and (max-width: 1240px){
.header-banner .swiper-controller{right: 40px;}
.header-banner .swiper-controller
button.close{margin-left: 10px;background-size: 24px;}
}

@media (min-width: 1025px) {
.util-new > li.time > span::before{content:'';clear:both;display:block;position:absolute;top:0;left:-24px;width:20px;height:20px;background-size:cover;background-image:url(../images/common/ico_time.svg)}
.util-new > li.time a span.blind{position: unset;font-size: inherit;line-height: inherit;}
}

@media screen and (max-width: 1024px){/* 헤더 */
#header-new .all-menu {display: block;} #header-new .nav-wrap{top:0px;align-items: center;display:flex;}
#header-new.logged-in .nav-wrap{top:30px;border-bottom: 1px solid #D8D8D8; }
#header-new .util-new-wrap {display: flex;position: relative;right: 0px; }
#header-new .header-bottom-new .inner{width: 100%;}
#header-new .nav-wrap {position: fixed;top: 30px !important;z-index: 10;border-bottom:1px solid #ddd;}
.header-top-new {position: fixed;left: 0;right: 0;z-index: 10;min-width:330px; }
.header-banner{top: 119px;}
.header-bottom-new{top: 30px;height: 250px;border: 0;box-shadow: none;min-width:330px; }
.logo-box{padding: 8px 16px; background-color: #fff; z-index: 10; transform: translateY(0);}
.logoNew{left: 16px;width: 115px;height: 72px;}
.gnb-wrap{display: none;}
.util-new{right: 58px;top: 61px;left: auto;gap: 12px;padding: 0;z-index: 10;}
.menu-new-line {line-height:1.2}
.util-new li a{padding: 0 4px; font-size: 13px;}
.util-new li a{padding:5px; background-size:20px 20px !important;min-width: 32px;min-height: 32px;background-position: 50% 50% !important;}
.util-new .join {display: none;}.util-new .logout {display: none;}.util-new .login-new {display: none;}
.util-new .icon{display: block;}
.util-new .all-menu{display: block; margin-top: 7px;}
.util-new li:last-child{margin-left: 0;}
.util-new li.join{margin-left: 0; ; line-height:1.2}
.util-new li.join::before{display: none;}
.srch-wrap{top: auto; bottom: 0px; max-width: calc(100% - 32px);left: 16px;right: 16px;}
.srch-wrap.logged-in{ bottom: 25px;}
.totalSearch {display:none;}

/* 푸터 */
.footer-new .inner{padding-top: 110px;padding-bottom: 30px;}
.footer-new .footer-top-new{display: flex;flex-direction: column;}
.footer-new .footer-top-new .addr{font-size: 17px;word-break: keep-all;}
.footer-new .info{}
.footer-new .info li{flex-direction: column;gap: 4px;font-size: 15px;word-break: keep-all;}
.footer-new .info li span{font-size: 17px;}
.footer-new .footer-top-new .bold + a::before{display: none;}
.footer-new .link-list{flex-wrap: wrap;padding-top: 8px;margin-top: 28px;font-size: 15px;border-top: 1px solid #DDD;order: 1;}
.footer-new .footer-top-new .wa{position: static;margin-top: 28px;text-align: right;}
.footer-new .copyright-new{flex-direction: column;padding: 0;margin: 0;border: 0;}
.footer-new .copyright-new p{padding: 10px 0 0 0;word-break: keep-all;}
.footer-new .family-site-wrap{left: 0;top: 16px;bottom: auto;}
.footer-new .family-site-wrap .family-site{width: 100%;}
.footer-new .footer-bottom-new{margin-top: 28px;}
.footer-new .footer-bottom-new a{font-size: 17px;font-weight: 600;color: #111;}
.footer-new .footer-bottom-new a img{display: none;}
.footer-new .footer-bottom-new .new-tab{margin-top: -3px;}
.header-top-new .nuri-text {font-size: 12px;}
.mob-util {  width: 100%;    margin-top: 60px; padding-bottom:20px;}
.open .header-bottom-new{top: 30px;height:auto;border: 0;box-shadow: none;}
.open .header-bottom-new .inner{display: flex;}
.open .header-banner{display: none;}
.open .logo-box{display: none;}
.open .srch-wrap{display: none;}
.open .util-new{display: none;}
.open .util{display: flex;gap: 5px;position:static;top: 20px;right:auto;transform:unset;width:100%;height:40%;margin-left:20px;margin-top:50px;flex-wrap:wrap;}
.open .util > li.txt { display:block; background:unset; padding:0; font-size:2.5vh; font-weight:700;}
.open .util > li.txt.before,.open .util > li.txt.after{width:100%; margin-bottom:2vh;font-size:1.2rem;}
.open .util > li:not(.time){display:flex;}
.open .util > li.time{display:none;}
.open .util > li > a {font-size:1rem;padding: 4px 15px 4px 15px;background:#fff;border: 1px solid #dddddd;border-radius:4px;color:#555;font-weight:500;position:relative;z-index:0;text-align: center;}
.open .util > li > a:hover, .open .util > li > a:focus{border-color:#555; text-decoration:unset;}
.open .mobile-gnb { padding-top: 250px; -ms-overflow-style: none;}
::-webkit-scrollbar {display: none;}
.open .mobile-gnb .depth1 .depth1-item.is-expanded .depth2 .depth2-item.on > a{color:#0B50D0;font-weight:700;border-left:5px solid #163ECA;}
.open .mobile-gnb .depth1 .depth1-item.is-expanded .depth2 .depth2-item.is-expanded.on > span{color:#0B50D0;font-weight:700;border-left:5px solid #163ECA;}
.open .mobile-gnb .depth1 .depth1-item.is-expanded .depth2 .depth3-item.on > a{color:#0B50D0; font-weight:600;}
}

@media screen and (max-width: 768px){
#header-new {position:relative;}
.srch-wrap .inp { font-size:15px;}
.header-banner{overflow: visible;}
.header-banner .swiper-slide a img.pc{ display: block; aspect-ratio: 30 / 1; max-height: 90px;}
.header-banner .swiper-slide a img.mobile{display: block !important; max-height: 200px;}
.header-banner .swiper-controller{top: auto;bottom: 12px;right: 50%;transform: translateX(50%);width: 100%;justify-content: center;bottom: calc(0% - 10px);transform: translate(50%, 100%);}.header-banner .swiper-controller button.close{/* border: 3px solid blue;position: absolute;top: 10px;right: 10px;width: 40px;height: 40px;background-size: 30px; */display: none;}/* i_vjeajoon6005 position sticky로 변경하면서 높이 변경(-32px)  -> 다시 276*/
.header-bottom-new{height: 276px;}
.header-bottom-new{height: 244px;}
.srch-wrap .history-area > div{flex-direction: column;}
.srch-wrap .history-area .left, .srch-wrap .history-area .right{width: 100%;}
.srch-wrap .history-area .right{border-radius: 0 0 6px 6px;}
/*모바일 퀵메뉴*/
.mobile-quickmenu {position: fixed;left: 0;bottom: 0;display: flex;justify-content: space-around;padding: 8px 0;width: 100%;background-color: #fff;border-top: 1px solid #d8d8d8;font-size: 0;box-sizing: border-box;box-shadow: -4px -4px 10px 0px rgba(0, 0, 0, 0.15);z-index: 2;}
.mobile-quickmenu .item {display: inline-block;padding: 0 5px;font-size: 13px;text-align: center;vertical-align: middle;}
.mobile-quickmenu .item button {padding: 0;}
.mobile-quickmenu a {display: block;}
.mobile-quickmenu .icon {display: inline-block;margin: 0;width: 20px;height: 20px;background-position: center;background-repeat: no-repeat;text-align: center;}
.mobile-quickmenu .icon.home {background-image: url("../images/common/ico-home.svg");}
.mobile-quickmenu .icon.search {background-image: url("../images/common/ico32_search.svg");}
.mobile-quickmenu .icon.mypage {background-image: url("../images/commonNew/ico_user.png");}
.mobile-quickmenu .icon.ham {background-image: url("../images/common/ico-menu.svg");}
.mobile-quickmenu span {display: block;font-size: 13px;font-weight: 400;color: #1D1D1D;}
.mobile-quickmenu .all-menu {background-color: transparent;}
.footer-new{padding-bottom: 56px;}
.footer-new .family-site-wrap .family-site-new {width: 100%;}
.logo-box {position: static !important;}
#header-new .nav-wrap {position: fixed;top: 30px !important;z-index: 10;border-bottom:1px solid #ddd;}
}

@media screen and (max-width: 365px){
.header-top-new .nuri-text {width: 365px; height: 32px;}
}
