#container-new .main{}
h2{display: inline-block;margin-bottom: 16px;font-size: 32px;font-weight: 700;}
h2 .desc{display: inline-block;margin-left: 12px;margin-top: 10px;font-size: 19px;font-weight: 600;}
h2 .desc .counter{font-size: 32px;color: #256EF4;}

.inner{max-width: 1420px;}

/* 더보기 버튼 */
a.view-more{position: absolute;right: 0;bottom: calc(100% + 24px);}
a.view-more:hover i{transform: rotate(90deg);}
a.view-more i{display: inline-block;margin-left: 4px;margin-bottom:3px;width: 20px;height: 20px;background: url(../images/main/ico-plus.svg)no-repeat center;vertical-align: middle;transition: .2s ease;}
/* 바로가기 */
.shortcut{position: relative;display: inline-block;padding: 4px 14px;padding-right: 38px;font-size: 17px;text-align: right;border-radius: 20px;transition: .3s ease;}
.shortcut::after{content: '';position: absolute;top: 50%;transform: translateY(-50%);display: inline-block;width: 20px;height: 20px;margin-left: 10px;background: url(../images/main/ico-link-arr.svg)no-repeat right center;background-size: 20px;transition: 0.3s ease;}
/*i_jes 참여기업*/
.partner {font-weight:bold;text-align:left;}
.partnerNm {font-size:13px; text-align:left;}

/* detail 탭버튼 */
.details{display: flex;gap: 8px;}
.details button{padding: 7px 12px;border-radius: 6px;background-color: transparent;font-size: 17px;font-weight: 700;color: #464C53;}
.details button:hover{background-color: #F2F2F7;}
.details button.active{background-color: #063A74;color: #fff;}
/* 셀렉트 박스 */
.custom-select {position: relative;display: inline-block;}
.custom-select + .custom-select{margin-left: 20px;}
/* 라디오 팝업 */
.dropdown-btn{padding-left: 48px;min-width: 220px;width: 100%;height: 40px;font-weight:600;background-color: #fff;border: 1px solid #58616A;border-radius: 8px;;font-size: 17px;text-align: left;cursor: pointer;}
.dropdown-btn::before{content:'';position:absolute;left:16px;top:50%;transform: translateY(-50%);display:block;width:  24px;height: 24px;background-repeat: no-repeat;background-position: center;}
.dropdown-btn.ico-category::before{background-image:url(../images/common/ico-nmcard-g.svg);background-size:95%;}
.dropdown-btn.ico-region::before{background-image:url(../images/common/ico-regin-g.svg);background-size:95%;}
.dropdown-btn::after{content:'';position:absolute;right:16px;top:50%;transform: translateY(-50%);display:block;width: 24px;height: 24px;background:url(../images/common/ico-arr_g.svg)no-repeat center;background-size:120%;}
.dropdown-btn:hover{border-color:#555;}
.dropdown-apply{display:inline-block;padding: 13px 34px;max-width: 112px;height: auto;background-color: #163ECA;border-radius:4px;color: #fff;}
.dropdown-apply-prjtype{display:inline-block;padding: 13px 34px;max-width: 112px;height: auto;background-color: #163ECA;border-radius:4px;color: #fff;}
.dropdown-box{position:absolute;top:calc(100% + 10px);right:0;display:none;padding:24px 20px;width:400px;max-height:630px;background:#fff;border:1px solid #256EF4;border-radius:4px;box-shadow:3px 3px 10px rgba(0, 0, 0, 0.16);font-size: 17px;z-index: 2;}
.dropdown-box .popup-header {font-size: 21px;margin-bottom: 22px;}
.popup-body {position: relative;flex: 1;overflow: auto;max-height: 358px;}
.dropdown-box .popup-footer {margin-top: 24px;text-align: right;}
.dropdown-box .popup-close {position: absolute;top: 27px;right: 24px;width: 24px;height: 24px;background: url(../images/common/ico-m-close.svg) no-repeat center;}
.dropdown-new.active .dropdown-btn {border-color: #256EF4;}
.dropdown-new.active .dropdown-btn::after {transform: rotate(180deg) translateY(50%);}
.dropdown-new.active .dropdown-box {display: flex;display: block;}
.dropdown-new .rdo-group.block {display: flex;flex-wrap: wrap;align-items: center;gap: 8px;}
.dropdown-new .rdo-group.block .rdo {width: calc(50% - 4px);background: #F2F5F8;border-radius: 4px;padding: 12px;}
.dropdown-new.rdo {display: inline-block;position: relative;vertical-align: middle;}
.dropdown-new .rdo input[type=radio] {margin: 0;width: 20px;height: 20px;top:auto; left:auto; position: absolute;z-index: 1;border-radius: 50%;}
.dropdown-new .rdo input[type=radio] + span {display: flex;align-items: flex-start;position: relative;line-height: 20px;word-break: keep-all;overflow-wrap: anywhere;}
.dropdown-new .rdo input[type=radio] + span::before {content: '';display: block;width: 20px;height: 20px;margin-right: 8px;border: 1px solid #ddd;background-color: #fff;border-radius: 50%;box-sizing: border-box;flex-shrink: 0;}
.dropdown-new .rdo input[type=radio]:checked + span::before {background: #fff url(../images/commonNew/ico_rdo.svg) no-repeat center;}
.dropdown-new .rdo input[type=radio]:disabled + span::before {border-color: #ddd;background-color: #f5f5f5;}
.dropdown-new .rdo input[type=radio]:disabled:checked + span::before {border-color: #ddd;background: #f5f5f5 url(../images/commonNew/ico_rdo-g.svg) no-repeat center;}
.dropdown-new .rdo:hover input[type=radio]:not(:disabled) + span::before {border-color: #555;}
/* 팁박스 */
.tip-wrap{position: relative;}
.tip-wrap .tip-box{display: none;position: absolute;left: 50%;top: calc(100% + 15px);transform: translateX(-50%);padding: 24px;background-color: #fff;z-index: 1;border: 2px solid #256EF4;border-radius: 12px;}
.tip-wrap .tip-box.active{display: block;}
.tip-box::before{content: '';position: absolute;left: 50%;bottom: 100%;transform: translateX(-50%);width: 22px;height: 12px;background: url(../images/contents/tip-box-arrow.png)center no-repeat;z-index: 1;}
.tip-wrap .tip-box .tip-tit{margin-top: 0 !important;font-size: 17px !important;font-weight: 700 !important;}
.tip-box .tip-contents{margin-top: 16px;display: flex;gap: 8px}
.tip-box .tip-contents button{padding: 0;display: block;background-color: transparent;}
.tip-box .tip-contents button .icon{display: block;margin: 0 auto 4px;width: 40px;height: 40px;border-radius: 40px;background-color: #fff;background-position: center;background-repeat: no-repeat;background-size: 24px;border: 1px solid #CDD1D5;}
.tip-contents button.ins .icon{background-image: url(../images/contents/ico_ins.svg);} /*TODO 이미지 대체*/
.tip-contents button.ytb .icon{background-image: url(../images/contents/ico_ytb.svg);}
.tip-contents button.sns-x .icon{background-image: url(../images/contents/ico_x.png);}
.tip-contents button.link .icon{background-image: url(../images/contents/ico_link-share.png);}
.tip-contents button.message .icon{background-image: url(../images/contents/ico_message.png);}
.tip-contents button.fb .icon{background-image: url(../images/contents/ico_fb.svg);}
.tip-contents button.blg .icon{background-image: url(../images/contents/ico_blg.svg);}

.tip-box .tip-contents button span{margin-top: 4px;font-size: 13px;font-weight: 400;word-break: keep-all;}
.tip-box .tip-close{position: absolute;right: 24px;top: 20px;width:  24px;height: 24px;background: transparent url(../images/common/ico-m-close.svg) center no-repeat;background-size: 20px;}

/* 메인비주얼 영역 */
.visual{padding: 270px 0 64px;display: flex;justify-content: space-between;gap: 24px;}
.visual .right{padding-top: 10px;}
.visual .left{position: relative; width: 89%;}
.visual .left a.view-more{bottom: auto;top: 18px;}
.visual .left .tab-container-new{position: relative;}
.visual .left .tab-container-new > .btn-wrap{display: flex;}
.visual .left .tab-container-new > .btn-wrap li{width: 100%;}
.visual .left .tab-container-new > .btn-wrap button{width: 100%;height: 56px;background-color: #fff;font-weight:600;font-size:1.1rem;border-bottom: 2px solid #B1B8BE;transition: .3s ease;}
.visual .left .tab-container-new > .btn-wrap button:hover{background-color: #f8f8f8;}
.visual .left .tab-container-new > .btn-wrap button.active{border-bottom: 4px solid #063A74;font-weight: 700;color: #063A74;}
.visual .left .tab-contents{margin-top: 12px;}
.visual .left .tab-contents .no-content{padding: 144px 0;height: 314px;font-size: 19px;font-weight: 600;text-align: center;vertical-align: middle;}
.visual .left .detail-wrap{display: flex;justify-content: space-between;align-items: center;position: relative;}
.visual .left .swiper-container{overflow: hidden;}
/* i_vj */
.swiper-container.responsive .swiper-controller-new{display: none;}

.details .swiper-slide{width: auto !important;height: auto;}
.details .swiper-controller-new{display: none;}
.details .swiper-controller-new button{position: absolute;top: 0;width: 32px;height: 34px;background-color: #EEF2F7;background-image: url(../images/common/ico-slide-arr.svg);transform: rotate(180deg);background-position: center;background-repeat: no-repeat;border-radius: 0;border-right: 1px solid #CDD1D5;z-index: 1 !important;}
.details .swiper-controller-new .prev{left: 0;}
.details .swiper-controller-new .next{transform: rotate(0deg);right: 0;}
.details .swiper-controller-new button:not(.swiper-button-disabled)::after{ /* 251219 disabled 선택자 수정 (ej) */content: '';position: absolute;top: 0;display: inline-block;width: 24px;height: 34px;z-index: 1;left: calc(100% + 1px); background: linear-gradient(90deg, #fff 27.34%,rgba(255, 255, 255, 0.2)95%, rgba(255, 255, 255, 0) 100%);}
.details .swiper-controller-new .prev::after{}
.details .swiper-controller-new .next::after{}

.visual .left .inp-group{font-size: 0;}
.visual .left .inp-group select{padding-left: 48px;width: 220px;height: 40px;border-color: #58616A;font-size: 17px;cursor: pointer;}
.visual .left .inp-group select option:disabled{color: #8A949E;}

.left .tab-container-new .contents{display: none;margin-top: 12px;}
.left .tab-container-new .contents.active{display: block;}
.left .tab-container-new .item{display: flex;flex-wrap: wrap;gap: 24px;padding-bottom:10px;box-sizing: border-box;}
.left .tab-container-new .item li{/*flex-grow: 1; */display: block;padding: 15px 20px 15px 20px;width: 100%;width: calc(100% / 3 - 16px);background-color: #fff;border: 1px solid #B1B8BE;border-radius: 12px;text-align: right; transition:transform 0.3s ease, box-shadow 0.3s ease;}
.left .tab-container-new .item li:hover{transform:translateY(2px); box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.15);}
.left .tab-container-new .item .util-box{font-size: 0;display: flex;justify-content: space-between;align-items: center;}
.util-box .tag-box{display: block;height: 24px;font-size: 0;text-align: left;box-sizing: border-box;}
.tag-box .tag{display: inline-block;padding: 0 7px;max-width: 91px;border-radius: 4px;font-size: 15px;line-height: 24px;color: #1E2124;word-break: keep-all;}
.tag-box .tag.yellow{background-color: #FFF3DB;color: #8A5C00;}
.tag-box .tag.red{background-color: #FBEFF0;color: #AB2B36;}
.tag-box .tag.blue{background-color: #ECF2FE;color: #0B50D0;}
.tag-box .tag.green{background-color: #EAF6EC;color: #267337;}
.tag-box .tag.gray{background-color: #F4F5F6;color: #464C53;}
.tag-box .tag + .tag{margin-left: 8px;}

.left .tab-container-new .item .btn-share, .btn-wish{padding: 5px 2px;padding-left: 26px;background-color: transparent;background-position: left 2px center;background-repeat: no-repeat;background-size: 20px;font-size: 17px;}
.left .tab-container-new .item .btn-share{background-image: url(../images/mainNew/ico_share.svg);}
.left .tab-container-new .item .btn-wish{background-image: url(../images/mainNew/ico_heart.svg);word-break: keep-all;}

.left .tab-container-new .item .tit{margin-top: 10px;display: -webkit-box;max-width: 100%;height: 60px;font-size: 19px;font-weight: 700;line-height: 29px;color: #1E2124;overflow: hidden;-webkit-line-clamp: 2;-webkit-box-orient: vertical}
.left .tab-container-new .item p{margin-top: 2px;font-size: 15px;font-weight: 300;text-align: left;}
.left .tab-container-new .item .tit + p{margin-top: 12px;}
.left .tab-container-new .item p .bold{margin-right: 10px; font-weight:600;}
.left .tab-container-new .item a{display: inline-block;padding: 3px 16px;margin-top: 1px;background-color: #ECF2FE;border: 1px solid #256EF4;border-radius: 6px;color: #0B50D0;transition: .3s ease;}
.left .tab-container-new .item a:hover{background-color: #cbdbfc;}

.right .custom-select{width: 100%;}
.right .dropdown-btn{height: 56px;}
.dropdown-btn.ico-programlist::before{background-image:url(../images/mainNew/ico-prgmlist-g.svg);}
.dropdown-btn.ico-programlist + .dropdown-box{width: 100%;}

.calendar-header .bold{font-size:1.1rem;font-weight:600;}
.calender-wrap{margin-top: 12px;min-height: 446px;max-height: 708px;border: 1px solid #D6E0EB;border-radius: 12px;}
.calender-header {padding: 24px 0 10px;display: flex;justify-content: center;align-items: center;gap: 16px;background-color: #ECF2FE;border-radius: 12px 12px 0 0;}
.calender-wrap .list-box{position: relative;padding: 16px 20px;height: 100%;max-height: 300px;border-top: 1px solid #CDD1D5;background-color: #fff;border-radius: 0 0 12px 12px;text-align: right;}
.calender-wrap .list-box .list{position: relative;text-align: left;display: flex;align-items: center;}
.calender-wrap .list-box .list + .list{margin-top: 8px;}
.calender-wrap .list-box .list .dot{display: inline-block;width:  8px;height: 8px;border-radius: 6px;box-sizing: border-box;}
.calender-wrap .list-box .list.green .dot{background-color: #1BB857;}
.calender-wrap .list-box .list.red .dot{position: relative;border: 1px solid #D0303C;background-color: #fff;}
.calender-wrap .list-box .list.red .dot::before{content: '';position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);width:  3px;height: 3px;background-color: #D0303C;border-radius: 10px;}
.calender-wrap .list a{display: block;margin-left: 10px;width: 275px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 15px;}
.calender-wrap .list a:hover{text-decoration: underline;}
.calender-wrap .list-box .more{position: absolute;right: 20px;bottom: 8px;display: inline-block;padding: 0 8px;margin-top: 6px;border: 1px solid #CDD1D5;border-radius: 20px;font-size: 14px;color: #1E2124;transition: .3s ease;}
.calender-wrap .list-box .more:hover{background-color: #f5f5f5;}

.calender-wrap .status-container {display: flex;margin-left: 50%;margin-bottom: 10px;}
.calender-wrap .list.green.box {color: #166534;}
.calender-wrap .list.red.box {color: #991b1b;}
.calender-wrap .box {margin-left: 5%;margin-top: 0px !important;}
.calender-wrap .rcit-status {margin-left: 10px;font-size: 12px;font-weight: 600;}
.calender-wrap .list-box .no-content{width: 275px;}

/* // 메인비주얼 영역 */
/* section03 */
.sec03-new{padding: 50px 0 20px;}
.sec03-new .inner{position: relative;}
.sec03-new .program-slider ul{margin-top: 24px;}
.sec03-new .program-slider .swiper-wrapper{transition-timing-function: linear;}
.sec03-new .program-slider li{position: relative;padding-left: 10px;color: #464C53;}
.sec03-new .program-slider ul li::before{content: '';position: absolute;left: 0;top: 9px; width: 4px;height: 4px;background-color: #464C53;border-radius: 4px;}
.sec03-new .program-slider ul li + li{margin-top: 6px;}
.sec03-new .program-slider .swiper-wrapper{margin-top: 24px;}
.sec03-new .swiper-container{overflow: hidden;padding-right:10px;}
.sec03-new .swiper-slide{}
.sec03-new .program-slider .swiper-slide a{display: block;padding: 32px;/* height: 336px; */ border: 1px solid #B1B8BE;border-radius: 12px;font-size: 17px;text-align: right;}
.sec03-new .program-slider a p{font-size: 17px;color: #464C53;line-height: 150%;text-align: left;}
.sec03-new .program-slider a .instNm{height:20px;text-overflow: ellipsis;white-space:nowrap;overflow: hidden;word-wrap:normal ;word-break: break-all;}
.sec03-new .program-slider a .tit{display: -webkit-box;margin-top: 16px;height: 58px;-webkit-line-clamp: 2;-webkit-box-orient: vertical;text-overflow: ellipsis;overflow: hidden;font-size: 19px;font-weight: 600;color: #1E2124;}
.sec03-new .program-slider a .desc{display: -webkit-box;margin-top: 12px;height: 78px;-webkit-line-clamp: 3;-webkit-box-orient: vertical;text-overflow: ellipsis;overflow: hidden;}
.sec03-new .program-slider a .shortcut{margin-top: 5px;}
.sec03-new .program-slider a:hover .tit{text-decoration: underline;}
.sec03-new .program-slider a:hover .shortcut{background-color: #ECF2FE;}
.sec03-new .swiper-controller-new{position: relative;margin-top: 24px;height: 40px;}
.sec03-new .swiper-controller-new .pagination-new{position: absolute;top: 0;left: 50%;transform: translateX(-50%);display: flex;align-items: center;width: auto;height: 100%;}
.sec03-new .swiper-controller-new .swiper-pagination-bullet{padding: 3px;margin: 2px;width: auto;background-color: transparent;border-radius: 0;font-size: 0;opacity: 1;}
.sec03-new .swiper-controller-new .swiper-pagination-bullet span{display: block;width:  8px;height: 8px;background-color: #6D7882;border-radius: 8px;}
.sec03-new .swiper-controller-new .swiper-pagination-bullet-active span{width: 20px;border-radius: 8px;background-color: #256EF4;}
.sec03-new .swiper-controller-new .btn-box{position: absolute;top: 0;right: 0;display: block;width: auto;font-size: 0;}
.sec03-new .swiper-controller-new .btn{position: absolute;top: 0; display: inline-block;width: 40px;height: 40px;background-color: #fff;background-position: center;background-repeat: no-repeat;background-size: 24px;border: 1px solid #CDD1D5;border-radius: 100px;box-sizing: border-box;transition: .3s ease;}
.sec03-new .swiper-controller-new .btn:hover{background-color: #f5f5f5;}
.sec03-new .swiper-controller-new .btn-prev{background-image: url(../images/common/ico-slide-arr-g.svg);transform: rotate(180deg);right: 48px;}
.sec03-new .swiper-controller-new .btn-next{background-image: url(../images/common/ico-slide-arr-g.svg);transform: rotate(0deg);right: 0;}
.sec03-new .swiper-controller-new .btn-stop{background-image: url(../images/common/ico-pause-g.svg);right: 96px;}
.sec03-new .swiper-controller-new .btn-box .btn-stop.active{background-image: url(../images/common/ico-play-g.svg);}
.sec03-new .view-more{bottom: auto;top: 0;}
.sec03-new .program-slider, .sec03-new .partner-slider{position: relative;}
.sec03-new .partner-slider{margin-top: 84px;}
.sec03-new .partner-slider .num{font-size: 45px;font-weight: 500;color: #D63D4A;}
.sec03-new .partner-slider .swiper-container{margin-top: 24px;padding-bottom:10px;}
.sec03-new .partner-slider .shortcut{display: inline-block;padding: 7px 14px;margin: 0;background-image: none;border: 1px solid #B1B8BE;border-radius: 12px;transition: .3s ease;}
.sec03-new .partner-slider .shortcut::after{display: none;}
.sec03-new .partner-slider .shortcut:hover{background-color: #ECF2FE;}
.sec03-new .partner-slider .shortcut .icon{display: inline-block;margin-left: 4px;width: 24px;height: 24px;background: url(../images/main/ico-link-arr.svg)center no-repeat;vertical-align: middle;}

.sec04{padding: 50px 0;}
.sec04 .swiper-controller-new .btn-box{position: absolute;top: 0;right: 0;display: block;width: auto;font-size: 0;}
.sec04 .swiper-controller-new .btn{position: absolute;top: 0; display: inline-block;width: 40px;height: 40px;background-color: #fff;background-position: center;background-repeat: no-repeat;background-size: 24px;border: 1px solid #CDD1D5;border-radius: 100px;box-sizing: border-box;transition: .3s ease;}
.sec04 .video-wrap .swiper-controller-new{position: relative;margin-top: 24px;height: 40px;} /*영상컨텐츠 하단 영역 (버튼)*/
.sec04 .tab-cont{margin-top: 24px;}
.sec04 .swiper-container {overflow:hidden;padding-right:10px;}
.sec04 .swiper-controller-new .btn:hover{background-color: #f5f5f5;}
.sec04 .swiper-controller-new .btn-prev{background-image: url(../images/common/ico-slide-arr-g.svg);transform: rotate(180deg);right: 48px;}
.sec04 .swiper-controller-new .btn-next{background-image: url(../images/common/ico-slide-arr-g.svg);transform: rotate(0deg);right: 0;}
.sec04 .swiper-controller-new .btn-stop{background-image: url(../images/common/ico-pause-g.svg); right: 96px;}
.sec04 .swiper-controller-new .btn-box .btn-stop.active{background-image: url(../images/common/ico-play-g.svg);}
.sec04 .details .swiper-wrapper{gap: 8px;}
.sec04 .tab-cont .item{width: calc(100% / 4 - 18px);}
.sec04 .tab-cont .item a{position: relative;display: block;width: 100%;height: auto;padding: 32px 22px; border: 1px solid #B1B8BE;border-radius: 12px;min-height: 387px;}
.sec04 .tab-cont .item .img-box{position: relative;padding-bottom: 56%;width: 100%;overflow: hidden;box-sizing: border-box;}
.sec04 .tab-cont .item .img-box img{position: absolute;left: 0;top: 0;width: 100%; transition: .3s ease;}
.sec04 .tab-cont .item .tit{margin-top: 24px;height: 80px; font-size: 19px;font-weight: 700;display: -webkit-box;-webkit-line-clamp: 3; -webkit-box-orient: vertical;text-overflow: ellipsis;overflow: hidden;padding-left:10px; }
.sec04 .tab-cont .item .desc{margin-top: 12px;width: 100%;height: auto;font-size: 17px;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;text-overflow: ellipsis;overflow: hidden;}
.sec04 .tab-cont .item .shortcut{text-align: left;position: relative;display: inline-block; /* 251219 (ej) */margin-top: 24px;padding-left: 10px;}
.sec04 .tab-cont .item a:hover img{transform: scale(1.05);}
.sec04 .tab-cont .item a:hover .tit{text-decoration: underline;}
.sec04 .tab-cont .item a:hover .shortcut{background-color: #ECF2FE;}
.sec04 .video-wrap,.sec04 .vr-wrap{position: relative;}
.sec04 .vr-wrap{margin-top: 64px;}
.sec04 .vr-wrap .swiper-wrapper{gap: 24px; padding:10px 0px; }/* i_vjh */
.sec04 .video-wrap{position: relative; margin-top: 0px;}
.sec04 .video-wrap .swiper-container{margin-top: 24px;padding-bottom:10px;}
.sec04 a.view-more {bottom: auto;top: 20px;}

.sec05{padding-bottom: 64px;}
.sec05 .inner{display: flex;gap: 24px;}
.sec05 .inner h2{font-size: 19px;font-weight: 700;}
.sec05 .notice, .sec05 .faq{position: relative;padding: 32px;width: calc(50% - 12px);border: 1px solid #B1B8BE;border-radius: 12px;}
.sec05 .notice{}
.sec05 .faq{}

.sec05 .list{}
.sec05 .list a{display: flex;justify-content: space-between;font-size: 17px;}
.sec05 .list li{padding: 8px 0;}
.sec05 .list li + li{margin-top: 12px;}
.sec05 .list .tit{width: 70%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.sec05 .list a:hover .tit{text-decoration: underline;}
.sec05 a.view-more{top: 32px;right: 32px;bottom: auto;}

/* 달력 */
.calendarMain {padding: 16px;border-radius: 12px;background: #f3f6fb;}
.calendar-header {display: flex;justify-content: center;   /* 중앙 정렬 */align-items: center;gap: 16px;/* 날짜와 버튼 간격 */margin-bottom: 12px;}
.calendar-header button {border: none;background: #e0e6f5;border-radius: 50%;width: 32px;height: 32px;cursor: pointer;}
.calendar-days, .calendar-dates {display: grid;grid-template-columns: repeat(7, 1fr);text-align: center;}
.calendar-days div {font-weight: bold;padding: 6px 0;}
.calendar-dates div {padding: 8px 0;margin: 2px;cursor: pointer;border-radius: 50%;}
.calendar-dates .other {color: #bbb;}
.calendar-dates .selected {background: #1f3fd3;color: #fff;}

/* 일요일 */
.calendar-dates .sun {color: #e53935; /* 빨간색 */}
/* 토요일 */
.calendar-dates .sat {color: #1f3fd3; /* 파란색 */}

/* 선택된 날짜는 글자 흰색 */
.calendar-dates .selected {background: #1f3fd3;color: #fff !important;}
.calendar-header .btn-prev{display: inline-block; width: 35px; height: 35; background-color: transparent; border: 1px solid #CDD1D5; background: url(../images/common/ico-slide-arr-g.svg) no-repeat center;transform: rotate(180deg);}
.calendar-header .btn-next{display: inline-block; width: 35px; height: 35; background-color: transparent; border: 1px solid #CDD1D5; transform: rotate(0deg);right: 0;background: url(../images/common/ico-slide-arr-g.svg) no-repeat center;}

/* 반응형 s */
@media screen and (max-width: 1500px){
.left .tab-container-new .item li{padding: 22px;}
.tag-box .tag{padding: 0 4px;}
.tag-box .tag + .tag{margin-left: 2px;}
}

@media screen and (max-width: 1330px){
.visual .left .detail-wrap{ flex-direction: column; gap: 20px; align-items: normal; }
.visual .left .inp-group{text-align: right;}
.custom-select{text-align: left;}
.left .tab-container-new .item li{width: calc(100% / 2 - 12px); }
.tag-box .tag + .tag{margin-left: 8px;}
.sec04 .tab-cont .item a{height: auto;}
}

@media screen and (max-width: 1024px){
h2{margin-top:24px;}
.visual{ flex-direction: column; gap: 60px;}
.visual .left {width: 100%;}
.left .tab-container-new .item li{padding: 24px;}
.tag-box .tag{padding: 0 7px;}
.calender{ width: 100%;}
.calender-wrap .list a{width: auto;}
.visual .left .detail-wrap{ align-items: center; }
.left .inp-group{ width: 100%; }
.left .inp-group select{ width: 100%;}
.custom-select{ width: calc(50% - 10px); }
.dropdown-box{ right: auto; left: 0; width: 100%; min-width: 270px; }
.dropdown-new:last-child .dropdown-box{right: 0; left: auto;}
.dropdown-new .rdo-group.block{ flex-direction: column; }
.dropdown-new .rdo-group.block .rdo{ width: 100%; }
.visual .right{ display: none;}
.sec03-new .program-slider .swiper-slide a{ padding: 24px; margin-right:10px;}
.sec04 .swiper-wrapper{ }
.sec04 .tab-cont .item{ width: calc(100% / 2 - 12px);}
.sec05 .inner {flex-direction: column;}
.sec05 .notice, .sec05 .faq{ width: 100%; }
.sec05 .inner h2 {margin-top:0px;}
.swiper-container.responsive .swiper-controller-new{display: none;}
.footer-new .family-site-wrap .family-site-new {width: 100%;}
}

@media screen and (max-width: 768px){
.visual{padding: 0 0 14px;display: flex;justify-content: space-between;gap: 24px;}
h2{ padding-right: 50px; word-break: keep-all; }
h2 .desc{display: block; margin-left: 0;}
.visual .tab-container-new{ flex-direction: column; }
.visual .tab-container-new .contents-wrap .item{ width: 100%;}
.visual .tab-container-new .contents-wrap .item a{height: 226px;}
.visual .tab-container-new .contents-wrap .item .tit{ height: 60px; -webkit-line-clamp: 2; }
.visual .left a.view-more{ top: 54px; }
.left .tab-container-new .item{ flex-wrap: nowrap; gap: 0;}
.left .tab-container-new .item li{ width: 100%; min-width: 80%; min-height: 100%;}
.left .tab-container-new .contents.active{padding-right:10px;}
.dropdown-btn { min-width: auto; }
.left .tab-container-new .item .util-box{position: relative;}
.tip-wrap{position: static;}
.tip-wrap .tip-box{min-width: 250px;}
.tip-box .tip-contents{ flex-wrap: wrap; justify-content: space-around; }
.sec03-new{padding: 0 0 14px;}
.sec03-new .partner-slider{display: none; margin-top: 60px;}
.sec03-new .program-slider .swiper-slide a{ padding: 32px; }
.sec03-new .view-more{ top: 90px; }
.sec04{padding-top: 0;}
.sec04 .details .swiper-wrapper{ flex-wrap: nowrap; gap: 0;}
.sec04 .responsive .swiper-wrapper{ flex-wrap: nowrap; gap: 0;}
.sec04 .tab-cont .item{ width: 100%; }
.sec04 a.view-more{top: 18px;  margin-top:5%;}
.sec05 .list .tit{ width: 100%; }
.sec05 .list .date{ display: none; }

.swiper-container.responsive .swiper-controller-new{display: block; margin: 12px auto 0; font-size: 0; text-align: center;}
.swiper-container.responsive .swiper-controller-new .btn-prev, .btn-next{display: inline-block; width: 40px; height: 40px; background-color: transparent; border: 1px solid #CDD1D5; border-radius: 100px; background: url(../images/common/ico-slide-arr-g.svg) no-repeat center;transform: rotate(180deg);}
.swiper-container.responsive .swiper-controller-new .btn-next{transform: rotate(0deg);}
.swiper-container.responsive .swiper-controller-new .pagination-new{display: inline-block; width: auto; margin: 0 20px;}
.swiper-container.responsive .swiper-controller-new .swiper-pagination-bullet{width: 8px; height: 8px;}
.swiper-container.responsive .swiper-controller-new .swiper-pagination-bullet-active{width: 20px; border-radius: 100px;}

}
@media screen and (max-width: 500px){
.dropdown-btn{padding-left: 44px;}
.dropdown-btn::before{ left: 12px;}
.dropdown-btn::after{ right: 8px;}
.details button{ padding: 7px 10px; font-size: 15px; word-break: keep-all;}
.vr-wrap .details li:last-child button{min-width: 98px;}
.shortcut{ font-size: 15px; }.shortcut::after{ margin-left: 5px;}
.sec04 .details.swiper-container{ width: calc(100% - 84px); margin: 0 auto; overflow: hidden;}
.sec04 .details .swiper-controller-new{display: block;}
.sec04 .details .swiper-controller-new .prev, .sec04 .details .swiper-controller-new .next{top: 96px;} /*직업정보동영상 좌우버튼 */
.sec04 .tab-cont .item a{position: relative;display: block;width: 100%;height: auto;border: 1px solid #B1B8BE;border-radius: 12px;/* min-height: 387px; */}
.sec04 .tab-cont .item .shortcut{position: relative; bottom: 15px; margin-top: 16px;}
.visual .details.swiper-container{ width: calc(100% - 84px); margin: 0 auto; }
.visual .details .swiper-controller-new{ display: block; }
.swiper-container.responsive .swiper-controller-new{display: block; margin: 12px auto 0; font-size: 0; text-align: center;}
.swiper-container.responsive .swiper-controller-new .btn-prev, .btn-next{display: inline-block; width: 40px; height: 40px; background-color: transparent; border: 1px solid #CDD1D5; border-radius: 100px; background: url(../images/common/ico-slide-arr-g.svg) no-repeat center;}
.swiper-container.responsive .swiper-controller-new .btn-next{transform: rotate(0deg);}
.swiper-container.responsive .swiper-controller-new .pagination-new{display: inline-block; width: auto; margin: 0 20px;}
.swiper-container.responsive .swiper-controller-new .swiper-pagination-bullet{width: 8px; height: 8px;}
.swiper-container.responsive .swiper-controller-new .swiper-pagination-bullet-active{width: 20px; border-radius: 100px;}/* 251219 (ej) */
.sec03-new .swiper-controller-new { text-align: center;}
.sec03-new .swiper-controller-new .btn { position: relative; }
.sec03-new .swiper-controller-new .pagination-new { position: relative; display: inline-block; transform: none; left: auto;}
.sec03-new .swiper-controller-new .btn-prev {left: auto; right: auto;}
.sec03-new .swiper-controller-new .btn-next {right: auto;}
.left .tab-container-new .contents.active{padding-right:5px;}
.sec04 .swiper-controller-new .move{}
.sec03-new .swiper-container{margin-left:20px;}
.sec04 .swiper-container {margin-left:20px;}
.dropdown-btn {font-size: 15px;}

.sec04 .swiper-controller-new .btn-box{right:calc(50% - 64px);}
.details .swiper-controller-new button{background-color: #FFFFFF;}
.details .swiper-controller-new button::after{height: 34px; background: linear-gradient(90deg, #FFFFFF 27.34%, rgb(255 255 255 / 0%) 100%);}

}

@media screen and (max-width: 430px) {
.sec03-new .view-more {top: 90px;}
}

